@import "../../Style.css";

.main {
   height: 100%;
   grid-template-rows: auto auto auto 5fr auto;
}

.top-container {
   height: 601px;

   background-image: url("../../../public/image-asset.jpeg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100%;

   border-top: var(--primary-color) var(--border-size) solid;
   border-bottom: var(--primary-color) var(--border-size) solid;
}

.header {
   grid-template-columns: max-content auto;
   padding-top: 0 !important;
}

.footer {
   border-top: var(--primary-color) var(--border-size) solid;
}

.flex-one-third {
   flex-basis: 33.33%;
}

.flex-two-third {
   flex-basis: 66.67%;
}

.welcome {
   justify-self: start;
}

.links {
   grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1300px) {
   .top-container {
      background-size: 1300px;
   }
}

@media (max-width: 900px) {
   .top-container {
      background-size: 1100px;
   }
}

@media (max-width: 800px) {
   .top-container {
      background-size: 1300px;
      background-position: top;
   }
}

@media (max-width: 600px) {
   h2 {
      text-align: center;
   }

   .flex {
      flex-direction: column !important;
      text-align: center;
   }
}
