@import "/src/Style.css";

:root {
   --max-width: 2500px;
   --min-width: 547px;
}

.homepage-root {
   display: grid;
   grid-template-columns: auto;
   justify-content: center;
   height: 100vh;
}

.homepage-grid {
   display: grid;
   grid-template-columns: 1fr;
   gap: var(--spacing);
   padding: var(--spacing);
   max-width: var(--max-width);
   font-size: 1em;
   line-height: 1.4;
}

/*Media Queries*/
@media (max-width: 750px) {
   .homepage-grid {
      display: flex;
      flex-flow: column-reverse;
      gap: 0;
   }

   .main {
      margin-bottom: var(--spacing);
   }
}
