@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Yaldevi:wght@200&display=swap');

:root {
  --font-primary: 'Roboto';

  --text-xl: 2rem;
  --text-lg: 1.8rem;
  --text-md: 1.5rem;

  --text-color: var(--primary-color);

  --global-light: #cbcdd2;
  --global-dark: #1c1d21;
  --global-light-grey: #848794;
  --global-grey: #5d5d5d;
  --global-dark-grey: #45474f;

  --background: var(--primary-color);

  --secondary-color: #c4aa81;
  --primary-color: #8c2b15;
  --success-color: #8e884a;
  --danger-color: #0f6087;
  --warning-color: #76a1a5;

  --hover-color: var(--global-grey);

  --box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.45);
  --inset-box-shadow: inset var(--box-shadow);

  --spacing: 1rem;
  --spacing-half: 0.5rem;
  --spacing-double: 2rem;

  --box-rounding: 5px;
  --border-size: 25px;
  --border-style: solid;
  --border-color: var(--primary-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  min-width: auto;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background: var(--background);
  color: var(--primary-color);
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    var(--font-primary),
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

li {
  padding: 0.25rem;
}

h1,
h2,
h3,
h4 {
  color: var(--text-color);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  color: var(--hover-color);
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
  display: block;
}

hr {
  width: 75%;
}

input,
textarea {
  width: 100%;
  background: var(--global-dark);
  color: var(--primary-color);
  border: var(--primary-color) var(--border-size) solid;
  border-radius: var(--box-rounding);
  padding: var(--spacing-half) var(--spacing-half);
  margin: var(--spacing-half) var(--spacing-half);
}
