@import "/src/Style.css";

.contain-width {
   max-width: 200px;
}

:root {
   --max-width: 1920px;
}

.root-main {
   height: 100%;
   max-width: var(--max-width);
}

.repeaters-top-container {
   height: 601px;

   background-image: url("../public/image-asset.jpeg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100%;

   border-top: var(--primary-color) var(--border-size) solid;
   border-bottom: var(--primary-color) var(--border-size) solid;
}

.footer {
   position: relative;
   bottom: 0;
}

.footer-link:hover {
   color: var(--secondary-color);
}

.lightning-map {
   max-width: 900px;
   min-width: 250px;
}

.global-map {
   max-width: 900px;
   min-width: 250px;
}

.duckduckgo {
   overflow: hidden;
   margin: 0;
   padding: 0;
   width: 308px;
   height: 40px;
}

/*Media Queries*/
@media (max-width: 1600px) {
   .tools-middle {
      display: flex;
      flex-flow: column;
      gap: 0;
   }
}

@media (max-width: 1300px) {
   .repeaters-top-container {
      background-size: 1300px;
   }
}

@media (max-width: 900px) {
   .repeaters-top-container {
      background-size: 1100px;
   }

   .tools-each {
      display: flex;
      flex-flow: column;
      gap: 0;
   }
}

@media (max-width: 800px) {
   .repeaters-top-container {
      background-size: 1300px;
      background-position: top;
   }
}

@media (max-width: 750px) {
   .root-grid {
      display: flex;
      flex-flow: column-reverse;
      gap: 0;
   }

   .root-main {
      margin-bottom: var(--spacing);
   }

   .header-logo {
      position: absolute !important;
      top: -9999px !important;
      left: -9999px !important;
   }

   .nav-main {
      margin: auto;
   }
}

@media (max-width: 600px) {
   .repeaters-header {
      text-align: center;
   }

   .flex-media {
      flex-direction: column !important;
      text-align: center;
   }
}
